<section>
  <h1>Welcome to the daily MO</h1>
  <p>And for our first time visitors COME BACK!</p>

  <ul>
    <% 19.times do %>
    <li><%= image_tag '' %></li>
    <% end %>
  </ul>
  <aside>
    <%= link_to '/' do %>
      <h1>I'm a mo grower</h1>
      <p>Upload images to show
      off the progress of
      your MO</p>
      <button>Growers click here</button>
    <% end %>

    <%= link_to '/' do %>
      <h1>I'm a mo posers</h1>
      <p>Use the tache selecta and give yourself your very own MO</p>
      <button>Posers click here</button>
    <% end %>
  </aside>
</section>